body {
background-color:antiquewhite;
}
#boton1 {
margin-top: 10px;
}
#boton2 {
    margin-top: 10px;

}

#titulo {text-align: center;}
#tutablero {
    width: 440px;
    height: 400px;
  align-items: center ;
  
  padding-bottom: 10px;
}
#tablerito1 {
    width: 120px;
    height: 100px;

}
#tablerito2 {
    width: 110px;
    height: 100px;

}
#tablerito3 {
    width: 110px;
    height: 100px;

}
#tablerito4 {
    width: 110px;
    height: 100px;

}
#boton3 {
  margin-left: 95%;
}
#rank {background-color: burlywood;
    margin: 170px;}
#boton4 {
    margin-left: 45%;
}
.tablapuntaje {
 width: 1000px;;
 height: 500px;
}
