body {
  /* Color de fondo principal de la página */
  background-color: antiquewhite;
}
#boton1 {
  /* Botón principal, centrado y con margen superior */
  margin-top: 10px;

  margin-left: 45%;
}
#boton2 {
  /* Segundo botón, centrado y con margen superior */
  margin-top: 10px;
  margin-left: 45%;
}

#titulo {
  /* Título centrado */
  text-align: center;
}
#tutablero {
  /* Tablero principal del juego, tamaño y alineación */
  width: 440px;
  height: 400px;
  align-items: center;

  padding-bottom: 10px;
}
#tablerito1 {
  /* Tablero pequeño 1, usado para mostrar miniaturas */
  width: 120px;
  height: 100px;
}
#tablerito2 {
  /* Tablero pequeño 2 */
  width: 110px;
  height: 100px;
}
#tablerito3 {
  /* Tablero pequeño 3 */
  width: 110px;
  height: 100px;
}
#tablerito4 {
  /* Tablero pequeño 4 */
  width: 110px;
  height: 100px;
}
#boton3 {
  margin-left: 47%;
}
#rank {
  background-color: burlywood;
  margin: 170px;
}
#boton4 {
  margin-left: 45%;
  align-content: center;
}
.tablapuntaje {
  width: 100%;
  height: 100%;
}

/* parte Rodri */

#tutablero 

/* tablero mio jaja */
#tutablero {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  height: auto; /* Mantiene proporción */
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* tableros rivales */
#tablerito1,
#tablerito2,
#tablerito3,
#tablerito4 {
  width: 90%; /* tamaño (en porcentaje) */
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#manual {
  width: 100%;
  height: 100%;
}
